<form>
  <div class="form-group">
      <input type="text" class="form-control font-weight-bold" id="username" placeholder="Username" [(ngModel)]="username" name="username">
      <div class="invalid-feedback">
        {{ error }}
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control font-weight-bold" id="password" aria-describedby="passwordHelper" placeholder="Password" [(ngModel)]="password" name="password">
      <div class="invalid-feedback">
        {{ error }}
      </div>
    </div>
    <div id="logbot">
      <button type="submit" class="btn btn-primary font-weight-bold" (click)="login()" *ngIf="notLoading == true">Login</button>
      <div class="spinner-border text-primary" role="status" *ngIf="notLoading == false"><span class="sr-only">Loading...</span></div>
    </div>
</form>